/*======= COLOR & TYPOGRAPHY ======*/
:root{
--primary-color: #FC3A79;
--secondary-color : #FE572E;
--brand-gradient-color: linear-gradient(90deg, var(--secondary-color) , var(--primary-color));
--error : #E63329;
--black : HSL(334 10% 14% / 100%);
--black-75 : HSL(334 10% 14% / 75%);
--black-50 : HSL(334 10% 14% / 50%);
--black-25 : HSL(334 10% 14% / 25%);
--black-10 : HSL(334 10% 14% / 10%);
--black-5 : HSL(334 10% 14% / 5%);

--heading-font-family : 'Montserrat',
sans-serif;
--body-font-family : 'Lora',
serif;

--fs-xxl : 4.8rem;
--fs-xl : 3.2rem;
--fs-l : 2.4rem;
--fs-m : 3.2rem;
--fs-body: 1.8rem;
}