---
import { Icon } from "astro-icon/components";
---

<footer class="flex">
  <p>
    (c) Copyright <span id="copyrightYear"></span> Marc GNANCADJA. All rights reserved.
  </p>
  <ul class="flex privacy">
    <li><a href="" target="_blank">Policy Privacy</a></li>
    <li><a href="" target="_blank">Terms & conditions</a></li>
  </ul>
  <ul class="social-medias">
    <a
      href="https://www.linkedin.com/in/marc-philippe-gnancadja/"
      class="flex-item"
      target="_blank"><Icon name="mdi:linkedin" /></a
    >
    <a
      href="https://twitter.com/MarcGnancadja"
      class="flex-item"
      target="_blank"><Icon name="mdi:twitter" /></a
    >
    <a
      href="https://www.instagram.com/marcgnancadja/"
      class="flex-item"
      target="_blank"><Icon name="mdi:instagram" /></a
    >
    <a
      href="https://github.com/Marc-Philippe-dev"
      class="flex-item"
      target="_blank"><Icon name="mdi:github" /></a
    >
  </ul>
</footer>
<script>
  const copyrightYearElement = document.querySelector("#copyrightYear");
  if (copyrightYearElement) {
    copyrightYearElement.textContent = new Date().getFullYear().toString();
  }
</script>

<style>
  ul {
    margin: 0;
  }
  footer a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 3rem;
  }

  footer li {
    list-style: none;
  }

  footer {
    justify-content: space-between;
    padding-inline: 3rem;
    padding-block: 0.8rem 0;
    border-top: 2px solid var(--black-10);
    font-size: 1.4rem;
    margin-top: 12rem;
    padding-bottom: 0.8rem;

    p {
      font-family: var(--body-font-family);
      font-size: 1.4rem;
    }

    ul a {
      font-weight: bold;
      font-family: var(--heading-font-family);
    }
  }

  .privacy li {
    margin-inline: 1rem;
  }

  @media screen and (max-width: 1200px) {
    footer {
      height: 10rem;
      flex-direction: column-reverse;
    }
    .privacy,
    .social-medias {
      padding: 0;
    }
  }

  @media screen and (max-width: 450px) {
    footer {
      font-size: 1.2rem;
      text-align: center;

      p {
        font-size: 1.2rem;
      }
    }
  }
</style>
