---
import { Icon } from "astro-icon/components";

const navLinks = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "About Me",
    url: "/about",
  },
  {
    name: "Contact",
    url: "/contact",
  },
];
---

<header>
  <nav class="flex nav grow">
    <Icon name="logo"  size={50} />
    <div class="flex mobile-nav grow">
      <div class="flex grow tablet-nav">
        <ul class="flex mr-auto nav-links">
          {
            navLinks.map((link) => (
              <li role="none" class="link flex-item">
                <a href={link.url}>{link.name}</a>
              </li>
            ))
          }
        </ul>

        <ul class="navbar-nav contact-infos flex">
          <li class="flex-item">
            <a target="_blank" href="mailto:contact@marcodev.tech" id="mail"
              >contact@marcodev.tech</a
            >
          </li>
          <li class="flex-item">
            <a target="_blank" href="tel:+33 773 09 79 20">+33 7 73 09 79 20</a>
          </li>
        </ul>
        <div class="vertical-divider none-divider1"></div>
      </div>

      <ul class="ml-auto">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/marc-philippe-gnancadja/"
          class="flex-item"><Icon name="mdi:linkedin" /></a
        >
        <a
          target="_blank"
          href="https://twitter.com/MarcGnancadja"
          class="flex-item"><Icon name="mdi:twitter" /></a
        >
        <a
          target="_blank"
          href="https://www.instagram.com/marcgnancadja/"
          class="flex-item"><Icon name="mdi:instagram" /></a
        >

        <a
          target="_blank"
          href="https://github.com/Marc-Philippe-dev"
          class="flex-item"><Icon name="mdi:github" /></a
        >
      </ul>
      <div class="vertical-divider none-divider2 hidden"></div>
    </div>
    <Icon name="mdi:menu" class="hidden flex-item hamburger-menu" />
  </nav>
</header>

<script>
  const hamburger = document.querySelector(".hamburger-menu");

  const tabletNav = document.querySelector(".tablet-nav");

  const mobileNav = document.querySelector(".mobile-nav");

  hamburger?.addEventListener("click", () => {
    tabletNav?.classList.toggle("active");
    mobileNav?.classList.toggle("active");
  });
</script>

<style>
  /*====== REMOVE STYLE ======*/
  nav a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 3rem;
  }

  nav li {
    list-style: none;
  }

  /*====== NAVBAR ======*/
  header {
    border-bottom: 2px solid var(--black-10);
  }

   

  nav li > a {
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    transition: 0.3s;
  }

  nav li > a:hover {
    background-color: var(--primary-color);
    color: white;
  }

  nav {
    margin: 1rem 2rem;
  }

  nav a {
    color: var(--black);
    font-size: 1.4rem;
    font-family: var(--heading-font-family);
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .flex-item {
    margin: 0 1.6rem;
  }

  .mr-auto {
    margin-right: auto;
  }

  .grow {
    flex-grow: 1;
  }

  .vertical-divider {
    width: 0.3rem;
    height: 3rem;
    margin-inline: 2rem;
    background-color: var(--black-10);
  }

  #mail {
    color: #fc3a79;
  }

  #mail:hover{
	color: white;
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    .hidden {
      display: inline;
    }

    .tablet-nav {
      display: none;
    }

    .ml-auto {
      margin-left: auto;
      align-items: center;
    }

    .mr-auto {
      margin-right: 0;
    }

    .tablet-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 0;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      width: 100vw;
      padding: 2rem 0;
      overflow: hidden;
      transition: 0.5s;
    }

    .tablet-nav ul {
      opacity: 0;
    }

    .none-divider1 {
      display: none;
    }

    .tablet-nav.active {
      height: 92px;
      background-color: skyblue;
    }

    .tablet-nav.active ul {
      opacity: 1;
    }

    .hamburger-menu {
      cursor: pointer;
      margin-left: auto;
    }
  }

  @media screen and (max-width: 600px) {
    .mobile-nav {
      display: none;
    }

    .tablet-nav {
      position: static;
    }

    .mobile-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 0;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      width: 100vw;
      padding: 2rem 0;
      overflow: hidden;
      transition: 0.2s;
    }

    .mobile-nav ul {
      opacity: 0;
    }

    .tablet-nav {
      padding: 0;
    }

    .mobile-nav.active {
      height: 180px;
      background-color: skyblue;
    }

    .mobile-nav.active ul,
    .tablet-nav.active ul {
      opacity: 1;
    }

    .ml-auto {
      margin-left: 0;
    }

    .none-divider2 {
      display: none;
    }
  }

  @media screen and (max-width: 380px) {
    .contact-infos,
    .nav-links {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .mobile-nav.active {
      height: 300px;
      background-color: skyblue;
    }
  }
</style>
